# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log
log
log/*
keys
keys/*

# venv
env
.env
venv
.idea
# other
.DS_Store

# sphinx docs 
_build
_static
_templates

# javascript
package-lock.json
.vscode/symbols.json
reference/celery/*
private_key/*
migrations

